out

.DS_Store
*.swp
*.swo

*.bs.js

node_modules/
.next/
.swc/

yarn-error.log

.bsb.lock
.merlin
lib/

.graphql_ppx_cache

src/contractAddresses.json
src/config/ConfigSelected.res

cypress/fixtures/*
cypress/screenshots/*
cypress/videos/*
